body {
    background: white;
}

h1 {
    color: pink;
    text-align: left;
    Padding: 10px;
    font-size: xx-large;
}

h3 {
    color: pink;
}
img {
    Padding-left: 25px;
    
}

p {
    text: aqua; 
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 25px;
}

nav {
    position: fixed;
    right: 0;
    padding-top: 15px;
    padding-right: 15px;
    color: violet;
    float: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section.p {
    right: 0;
    background-color: aquamarine;
    color: black;
}

#contact {
    background-color: blanchedalmond;
    color: black;
}

